@font-face {
  font-family: "Urbanist";
  src: url(/portfolio-2025/fonts/urbanist-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url(/portfolio-2025/fonts/urbanist-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url(/portfolio-2025/fonts/urbanist-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProFontWindows";
  src: url(/portfolio-2025/fonts/pro-font-windows-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProFontWindows";
  src: url(/portfolio-2025/fonts/pro-font-windows-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
